* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  height: 50px;
  background-color: #ff9a4b;
}

main {
  width: 960px;
  margin: 50px auto;
  display: flex;
}

.step-box {
  width: 300px;
  margin-right: 30px;
  padding: 10px;
  position: relative;
  background-color: #eeeeee;
}

.step-box:last-child {
  margin-right: 0;
}

.step-img1 {
  height: 150px;
  background-image: url(https://user-images.githubusercontent.com/76044650/103834357-829ce880-50c6-11eb-9442-dd81a439534f.png);
  background-position: bottom;
  background-size: cover;
}

.step-img2 {
  height: 150px;
  background-image: url(https://user-images.githubusercontent.com/76044650/103834381-90eb0480-50c6-11eb-9a20-eb2568a9c224.png);
  background-position: bottom;
  background-size: cover;
}

.step-img3 {
  height: 150px;
  background-image: url(https://user-images.githubusercontent.com/76044650/103834384-921c3180-50c6-11eb-8c58-ac40ab13134c.png);
  background-position: bottom;
  background-size: cover;
}

.step-num {
  color: #fff;
  padding: 3px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ff9a4b;
}

.title {
  display: block;
  margin: 15px 0 5px 0;
}

footer {
  height: 50px;
  background-color: #aaaaaa;
}

@media screen and (max-width: 768px) {
  header {
    width: 100%;
  }
  main {
    width: 100%;
    margin: 50px auto;
    display: block;
  }

  .step-box {
    width: 90%;
    margin-bottom: 20px;
    position: relative;
  }
}
